
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="font-size: 30px; color: red">
    This is test page
    </div>
    <br />
</body>
</html>
