<div>
  <img [src]="imgSrc" style="width: 450px; height: 400px; margin: auto; display: block;" alt="">
  <br>
  <div style="width: 450px; margin: auto;">
    <input (click) = "prev()" style="margin-right: 50px; padding: 8px; border-radius: 4px; background-color: rgb(185, 200, 176); border: 2px solid rgb(145, 110, 149); cursor: pointer;" type="button" value="Previous">
    <input (click) = "nxt()" style="margin-right: 50px; padding: 8px; border-radius: 4px; background-color: rgb(185, 200, 176); border: 2px solid rgb(145, 110, 149); cursor: pointer;" type="button" value="Next">
    <input (click) = "slide()" style="margin-right: 50px; padding: 8px; border-radius: 4px; background-color: rgb(185, 200, 176); border: 2px solid rgb(145, 110, 149); cursor: pointer;" type="button" value="Slide">
    <input (click) = "stop()" style="margin-right: 50px; padding: 8px; border-radius: 4px; background-color: rgb(185, 200, 176); border: 2px solid rgb(145, 110, 149); cursor: pointer;" type="button" value="Stop">
  </div>

</div>

