@{
    ViewBag.Title = "createCar";
}

<h2>createCar</h2>

<form action="/car/CreateSave" method="post">
    <input placeholder="Num" type="text" name="Num" />
    <input placeholder="Color" type="text" name="Color" />
    <input placeholder="Model" type="text" name="Model" />
    <input placeholder="Manufacture" type="text" name="Manufacture" />

    <input type="submit" value="Save" />
</form>



